@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

:root {
  --body-font: "Space Grotesk", sans-serif;
}

@theme {
  --color-blood-1: #580c1f;
  --color-blood-2: #74121d;
  --color-lilac-1: #988faf;
  --color-lilac-2: #c3c0e1;
  --color-purple-1: #69385c;
}

body {
  background: var(--color-blood-1);
  color: var(--color-lilac-2);
  font-family: var(--body-font);
}
